/* ==========================================================================
   TYPOGRAPHY / ELEMENTS
   Style de base (sans classe css) pour tous les éléments typographiques génériques
   ========================================================================== */

   
   /*
   HEADINGS
   ========================================================================== */
   h1,
   h2,
   h3,
   h4 {
       margin: 0;
    }
    
    h1 {
        color: #fff;
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h1,
    h2 {
        font-family: 'Quicksand', serif;
        line-height: 1;
        font-weight: 700;
    }
    
    h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    h4 {
        text-transform: uppercase;
    }


    /*
    LIENS
    ========================================================================== */
    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        color: #a7029a;
        text-decoration: underline;
    }
